<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.altbeacon.beaconreference"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="20" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    

    <application 
        android:allowBackup="true"
        android:icon="@drawable/icon_loop"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="uk.ac.lincoln.lisc.ecobeacons.EcoBeaconsApplication"
        android:alwaysRetainTaskState="true">
        <activity
            android:launchMode="singleInstance" 
            android:name="uk.ac.lincoln.lisc.ecobeacons.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true">
            <intent-filter>
				<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="uk.ac.lincoln.lisc.vending.VendingActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>
            </intent-filter>
        </activity>
        
        <activity android:name="uk.ac.lincoln.lisc.vending.NavigateToBinActivity" 
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>
                <data
                    android:mimeType="image/*"
                    android:scheme="android.resource" >
                </data>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name="uk.ac.lincoln.lisc.recycling.LitterActivity" 
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>
            </intent-filter>
        </activity>
        <receiver
		    android:name="uk.ac.lincoln.lisc.ecobeacons.OnNoItemSelected"
		    android:exported="false" >
		    <intent-filter>
		        <action android:name="ecobeacons.NO_SELECTION" />
		    </intent-filter>
		</receiver>
    </application>
    
</manifest>